body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  border: 1px solid blue;
  width: 100%;
  display: flex;
}

.canvas {
  border: 1px solid red;
  flex: 1 1 0;
  min-width: 0;
}
